[general]
debug = false
# For test net, use instead:
# api_url = api-ropsten.etherscan.io or http://api-kovan.etherscan.io or api-rinkeby.etherscan.io
api_url = api.etherscan.io
file = ./private-keys

[keys]
# Number of keys in pool
num = 3

[db]
# Set true to disable DB
# disabled = true

# DB Configuration
host = 172.17.0.2
name = mysql
user = root
pass = pass
